.button {
  font: inherit;
  border: 1px solid #00e461;
  background: #00e461;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #00b34d;
  border-color: #00b34d;
}

.button:focus {
  outline: none;
}
